# you can grab the kernel and initrd from mirrors. e.g.
#
# http://ftp.icm.edu.pl/Linux/dist/ubuntu-releases/resolute/ubuntu-26.04-netboot-amd64.tar.gz
#
# feel free to swap iso path for something else
#
label install
	menu label ^Install Ubuntu
	menu default
	kernel /ubuntu/linux
	append initrd=/ubuntu/initrd root=/dev/ram0 ramdisk_size=1500000 ip=dhcp iso-url=https://releases.ubuntu.com/26.04/ubuntu-26.04-live-server-amd64.iso
